@model Product
<h3>Edit Product</h3>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <p>
        <label>Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger" required></span>
    </p>
    <p>
        <label>Price</label>
        <input asp-for="Price" type="number" step="1"/>
        <span asp-validation-for="Price" class="text-danger" required></span>
    </p>
    <input type="submit" value="Edit" />
</form>