@*model List<CrudTest.Models.CountryStateViewModel>*@
@model IEnumerable<CrudTest.Models.CountryStateViewModel>

@{
    var groupedData = Model.GroupBy(x => x.CountryName);
}

<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>States</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in groupedData)
        {
            <tr>
                <td>@group.Key</td>
                <td>@string.Join(", ", group.Select(x => x.StateName))</td>
            </tr>
        }
    </tbody>
</table>


@*
    Working table model
@{
    ViewData["Title"] = "Country and State";
}
<div class="container text-center">
    <h2 class="font-serif fw-bold">Select Location</h2><br />

    <div class="mb-4">
        <label for="countryDropdown">Country:</label>
        <select id="countryDropdown" asp-items="@(new SelectList(ViewBag.Countries, "CountryId", "Name"))">
            <option value="">Select a country</option>
        </select>
    </div>

    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>State</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody id="locationTableBody">
        </tbody>
    </table>

    <div>
        <button type="submit" class="btn btn-primary mx-2" style="border-radius: 20px;">Submit</button>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#countryDropdown').change(function () {
                var countryId = $(this).val();
                $('#locationTableBody').empty();

                if (countryId) {
                    $.get('/Joins/GetStates?countryId=' + countryId, function (states) {
                        $.each(states, function (i, state) {
                            // For each state, get its cities
                            $.get('/Joins/GetCities?stateId=' + state.stateId, function (cities) {
                                var cityNames = cities.map(c => c.cityName).join(', ');
                                var row = `<tr><td>${state.name}</td><td>${cityNames}</td></tr>`;
                                $('#locationTableBody').append(row);
                            });
                        });
                    });
                }
            });
        });
    </script>
}
*@

@*
drop down final
@{
    ViewData["Title"] = "Country and State";
}
<div class=" text-center container ">
<h2 class="font-serif fw-bold ">Select Location</h2><br/>
<div class=" mb-4">
    <label for="countryDropdown">Country:</label>
    <select id="countryDropdown" asp-items="@(new SelectList(ViewBag.Countries, "CountryId", "Name"))">
        <option value="">Select a country</option>
    </select>
</div>

    <div class =" mb-4">
        
    <label for="stateDropdown">State:</label>
    <select id="stateDropdown">
        <option value="">Select a state</option>
    </select>
</div>
    <div class =" mb-4">
    <label for="cityDropdown">City:</label>
    <select id="cityDropdown">
        <option value="">Select a City</option>
    </select>
</div>
<div>
    <button type="submit" class="btn btn-primary mx-2" style="border-radius: 20px;">Submit</button>
</div>
</div>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function ()
        {
            $('#countryDropdown').change(function () {
            var countryId = $(this).val();

            $('#stateDropdown').empty().append('<option value="">Loading...</option>');

            if (countryId) {
                $.get('/Joins/GetStates?countryId=' + countryId, function (states) {
                    $('#stateDropdown').empty().append('<option value="">Select a state</option>');

                    $.each(states, function (i, state) {
                        $('#stateDropdown').append('<option value="' + state.stateId + '">' + state.name + '</option>');
                    });
                })
            } else {
                $('#stateDropdown').empty().append('<option value="">Select a state</option>');
            }
        });
                });
    </script>

    <script>
        $(document).ready(function ()
        {
            
            $('#stateDropdown').change(function ()
            {
                var stateId = $(this).val();

                $('#cityDropdown').empty().append('<option value="">Loading...</option>');

                if (stateId) 
                {
                    $.get('/Joins/GetCities?stateId=' + stateId, function (cities) 
                    {
                        $('#cityDropdown').empty().append('<option value="">Select a city</option>');

                        $.each(cities, function (i, city) 
                          {
                            $('#cityDropdown').append('<option value="' + city.cityId + '">' + city.cityName + '</option>');
                          });
                    })
                } 
                else 
                {
                    $('#cityDropdown').empty().append('<option value="">Select a city</option>');
                }
            });
            $('#countryDropdown').change(function(){$('#cityDropdown').empty().append('<option value="">Select a city</option>');});
        });
    </script>
}
 *@
